body {
    background-color: #888888;
}
.container {
    box-sizing: border-box;
    width: 1480px;
    padding: 60px 100px 30px;
    font-family: "Lato", sans-serif;
    background-color: #FFFFFF;
}
.container > .section {
    width: 100%;
}
.header {
    margin-bottom: 45px;
}
.header .header-logo-link {
    text-decoration: none;
}
.header .header-logo-link .header-logo {
    font-size: 80px;
    color: #4bcaff;
    padding: 1px;
}
.header .header-logo-link .header-logo .black-text {
    color: black;
}
.navbar {
    background-color: #35444f;
    margin-bottom: 51px;
    overflow: hidden;
}
.navbar .navbar-list {
    margin-left: 160px;
    display: inline-block;
    list-style-type: none;
    height: 69px;
    line-height: 69px;
}
.navbar .navbar-list-item {
    display: inline-block;
    padding: 0 42px;
}
.navbar .navbar-list-item .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
}
.navbar .navbar-list-item-actived {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.left-nav{
    display: inline-block;
    width: 344px;
    border: 1px solid #35444f;
}
.left-nav .left-nav-list-item {
    display: block;
    padding: 30px 0 30px 42px;
}
.left-nav .left-nav-list-item .left-nav-link{
    text-decoration: none;
    font-size: 30px;
    color: rgba(73, 88, 99, 255);
}
.left-nav .left-nav-list-item-actived {
    background-color: #dbdbdb;
    padding-left: 69px;
}
.left-nav .left-nav-list-item-actived .left-nav-link{
    color: #000000;
}
.right-side {
    display: inline-block;
    margin-left: 53px;
    width: calc(100% - 404px);
    vertical-align:top;
    color: #2c2c2c;
    font-size: 18px;
}
.right-side .image-block {
    box-sizing: border-box;
    text-align: center;
    height: 529px;
    padding-top: calc((529px - 381px) / 2);
    border: 1px solid #35444f;
    overflow: hidden;
}
.right-side .image-block:hover {
    cursor: pointer;
}
.right-side .image-block img{
    transition: all 2s linear;
}
.right-side .image-block:hover img {
    transform: scale(1.5);
}
.right-side .text-block-ru {
    padding: 50px 40px 15px 30px;
}
.right-side .text-block-en {
    padding: 15px 40px 51px 30px;
}
.footer {
    height: 61px;
    line-height: 61px;
    padding-left: 44px;
    padding-right: 34px;
    background-color: #b4b7ba;
}
.footer .footer-nav {
    display: inline-block;
    width: 695px;
}
.footer .footer-nav .footer-nav-item {
    text-decoration: none;
    margin-right: 15px;
    font-size: 22px;
    color: #0c1927;
}
.footer .footer-copy-right {
    display: inline-block;
    width: calc(100% - 700px);
    text-align: right;
    font-size: 20px;
    color: #010101;
}